.Pro1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 60px;
  font-family: Raleway;

  @media (max-width: 576px) {
    padding: 0px;
  }
  .form-control {
    padding: 24px 20px;
    font-size: 24px;
  }
  .list_item {
    margin-top: 30px;
    display: flex;
    align-items: start;
    gap: 8px;
    div {
      text-align: start;
    }
  }
  .my_radio_group {
    gap: 8px;
    color: #002060;
  }
  img {
    margin-top: 6px;
    width: 24px;
  }

  .pl {
    padding-left: 35px;

    @media (max-width: 576px) {
      padding-left: 0;
    }
  }
  .prorabotka_box {
    margin-top: 30px;
    padding-left: 30px;
    padding-bottom: 30px;
    width: 100%;
    padding-right: 10px;
    border: 1px solid #000;
    @media (max-width: 576px) {
      padding: 8px !important;
    }
  }
  .pl50 {
    padding-left: 50px;

    @media (max-width: 576px) {
      padding-left: 0;
    }
  }
  .kok {
    color: #0070c0;
  }
  .seriy {
    color: #44546a;
  }
  .fil {
    color: #7030a0;
  }
  .yashil {
    color: #00b050;
  }
  .toq_fil {
    color: #002060;
  }
  .color_main {
    color: #d60093;
  }
  .red {
    color: #ff0000;
  }

  .tort {
    margin-top: 24px;
    padding: 12px;
    border: 2px solid;
  }

  .f700 {
    font-weight: 700;
    font-style: normal;
  }
  .ta {
    text-align: center;
  }

  .f600 {
    font-weight: 600;
    font-style: normal;
  }
  .what {
    text-align: center;
  }
  .f500 {
    font-weight: 500;
    font-style: normal;
  }
  .left {
    padding-left: 40px;
  }
  .chapga {
    padding-left: 35px;
  }
  .ongdan {
    // padding-left: 20px;
    padding-right: 20px;
  }

  .chiziq {
    margin-top: 40px;
    border-bottom: 1px solid #d60093;
    width: 100%;
  }
  .f400 {
    font-weight: 400;
    font-style: normal;
  }
  .s36 {
    font-size: 36px;
    line-height: 42px;
    @media (max-width: 576px) {
      font-size: 24px;
      line-height: 32px;
    }
  }
  .s30 {
    font-size: 30px;
    line-height: 36px;
    @media (max-width: 576px) {
      font-size: 22px;
      line-height: 30px;
      text-align: center;
    }
  }
  .s24 {
    font-size: 24px;
    line-height: 34px;

    @media (max-width: 576px) {
      font-size: 22px;
      line-height: 30px;
      text-align: center;
    }
  }
  .s28 {
    font-size: 28px;
    line-height: 38px;
    @media (max-width: 576px) {
      font-size: 22px;
      line-height: 30px;
      text-align: center;
    }
  }
  .s20 {
    font-size: 20px;
    line-height: 24px;
  }
}

.pro_box {
  width: 100%;
  font-size: 28px;
  line-height: 38px;
  font-weight: 500;
}
.prorabotka_what {
  cursor: pointer;
  font-size: 36px;
  &:hover {
    background: #d60093;
    color: #fff;
    transition: 0.5s;
  }
  @media (max-width: 576px) {
    font-size: 20px;
  }
}

.harf {
  display: flex;
  align-items: start;

  @media (max-width: 576px) {
    flex-direction: column;
    align-items: center;
  }
}
